.card-color {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Que ocupe toda la altura disponible */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff; /* o el color que uses */
  }
  
  .tamano {
    margin-top: auto; /* Empuja hacia abajo */
  }

.img-con-fondo-transparente {
    background-color: transparent;
}
.tamano_descripcion{
    height: auto;
}
